html {
  border: 10px solid #1D3557;
  

}

body {
  font-family: lato;
  font-size: 110%;
  background-color: #E69669;
  display: flex;
  flex-direction: column;
}

header {
  background-image: linear-gradient(to right, #457B9D , #1D3557);
  text-align: center;
  margin-bottom: 0px;
  justify-content: center;
  box-shadow: 10px 10px 30px black ;
}

header h1 {
  font-family: BankGothic Md BT;
  color: white;
}

header h4 {
  font-family: lato;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  overflow: unset;
}

a:link {
  text-decoration: none;
}

#contents
{
  margin-left: 20px;
}

#aboutme {
  background-color: ;
  padding: 18px;
}

#article p {
  margin-left: 10px;
}

#article h3 {
  margin-left: 10px;
}

#headshot {
  width:10rem;
  height:10rem;
  margin-top: 1%;
  border-radius: 100%;
  border: 3px solid #1D3557;
}

#sidebar {
  box-shadow: 10px 10px 30px black;
  background-color: #1C558E;
}

#sidebar h2 {
  text-align: center;
  background-color: #1D3557;
  font-family: BankGothic Md BT;
  padding-top: 18px;
  padding-bottom: 10px;
  margin-top: 0px;
  color: white;
}

.nav-menu a:hover {
  background-color: #1D3557;
  padding: 1px;
}

.nav-menu a {
  
  color: white;
}

.nav-menu li {
  padding: 10px;
  list-style-type: none;
}

.interests
{
  list-style-type: none;
}

.interests li
{
  padding: 10px;
  color: white;
}

#contact {
  margin-left: 24px;
}

#Education {

  margin: 20px;
  padding: 18px;
  margin-top: -18px;
  margin-right: -8px;
  margin-left: 0px;
}

#Education a {
  text-decoration-style: none;
}

#experience {
  padding: 18px;
}

#skills {
  padding: 18px;
}

footer {
  box-shadow:  0px -10px 20px 0px black;
  background-color: #457B9D;
  text-align: center;
}

.footer img {
  margin-right: 38px;
}

.footer h2 {
  background-color: #1D3557;
  margin: -11px;
  padding: 39px;
  margin-top: 0px;
  margin-right: 19px;
  color: white;
}

.footer img
{
  width:50px;
} 
