html {
    margin: auto;
}

body {
    margin: auto;
}

#sidebar {
    position: fixed;
    margin:auto;
    background: #2C2C2E;
    padding-bottom: 100%;
    margin-top: -14rem;
}

#sidebar img {
    margin-top: 2rem;
    margin-left: 7rem;
    border-radius: 100%;

}

#nav-menu {
    background: #A3897B;
    margin-top: 9rem;
}

#nav-menu h2 {
    text-align: center;
    color: #F2F2F2;
}

#nav-menu li {
    display: inline;
}

#nav-menu ul {
    margin-right: 4vw;
    font-size: 14px;
    margin-top: -29%;
}


#nav-menu a {
    text-decoration: none;
    color: #F2F2F2;
    padding:10px
}

#header
{
    margin-left: 26rem;
}

#header h1
{
    font-family: BankGothic Md BT;
    font-size: 60px;
    margin-bottom: -2%;
}

#SubheadingTable h3
{
    font-size: 30px;
    font-family: lato;
}

#SubheadingTable h5
{
    font-size: 30px;
    font-family: lato;
}

#content
{
    
}

.book-icon
{
    margin-left: 32rem;
    border-radius: 100%;
    border: 3px solid black;
}

.book-icon img
{
   
}

#content h2
{
    margin-left: 2rem;
}

.vl
{
  
    border-top: 3px solid black;
    width: 77rem;
    margin-left: 36rem; 
}

